<link href="css/schedule.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">


<ion-view view-title="calendar" hide-nav-bar="true">

	<!-- div all page -->
	<div style="height: 100%">
		<!-- Header -->
		<div class="calendar-head">
			<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    		<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoSchedule()"></button>
			<div class="styled-select blue  semi-square" style="float: center; margin-left: 23%;">
			  <select style="background: none;" >
			    <a ng-click="changeMonth('june')"><option style="color:black; background:none;">May</option></a>
			    <a ng-click="changeMonth('june')"><option style="color:black" value="june">june</option></a>
			    <option style="color:black">july</option>
			  </select>
			</div>
			
		</div>
			<ul class="weekdays">
				  <li>Mo</li>
				  <li>Tu</li>
				  <li>We</li>
				  <li>Th</li>
				  <li>Fr</li>
				  <li>Sa</li>
				  <li>Su</li>
			</ul>
		<div>

        </div>
        
		<ion-nav-view name="monthCalendar"></ion-nav-view>
	</div>

</ion-view>