<ion-view view-title="main" class="loginBg" hide-nav-bar="true" >
	<ion-content scroll="false">
		<div class="col col-offset-25 main-profile">
			<img src="img/childen.png" width="50%" height="50%">
		</div>

		<div class="row chooseChild">
			<div class="col col-50 chooseChild1">
				<img class="main-img" src="img/child.png" width="60%" height="60%" ng-click="gotoMain()"><br/>
				<p class="chooseChild-font">NAME</p>
				<div class="status">
					<p class="chooseChild-font">status</p>
					<p class="status-font">inclass</p>
					<div class=""></div>
				</div>
			</div>
			<div class="col col-50 chooseChild2" ng-click="gotoMain()">
				<img class="main-img" src="img/child.png" width="60%" height="60%">
			</div>
		</div>
	</ion-content>
</ion-view>