<link href="css/schedule.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<ion-view view-title="schedule" hide-nav-bar="true">

	<!-- Header -->
	    <div class="all-content">
	    	
		    	<ion-slide-box on-slide-changed="slideChanged($index)" style="height: 110%;">
		  			<ion-slide>
		  				<ion-scroll direction="y" style="height: 85%">
		  				    <div style="background-color: #3F51B5; height: 30%">
    							<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    							<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoCalendar()"></button>
    							<h1 style="text-align: center; color: white;">Monday</h1>
    							<p style="color: white; text-align: center;">15 AUGUST</p>
    						</div>
		    			<div>
		    				
		    				<div class="item item-avatar">
		      					<!-- -->
		      					<img src="/img/schedule/m.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[0].Day11}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/p.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px">{{schedule[0].Day12}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/s.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[0].Day13}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/t.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[0].Day14}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/e.png" />
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[0].Day15}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
		    			</div>
		    			</ion-scroll>
		  			</ion-slide>
		 			<ion-slide>
		    			<ion-scroll direction="y" style="height: 85%">
		  				    <div style="background-color: #f159e7; height: 30%;">
    							<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    							<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoCalendar()"></button>
    							<h1 style="text-align: center; color: white;">Tuesday</h1>
    							<p style="color: white; text-align: center;">15 AUGUST</p>
    						</div>
		    			<div>
		    				
		    				<div class="item item-avatar">
		      					<!-- -->
		      					<img src="/img/schedule/m.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[1].Day21}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/p.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px">{{schedule[1].Day22}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/s.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[1].Day23}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/t.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[1].Day24}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/e.png" />
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[1].Day25}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
		    			</div>
		    			</ion-scroll>
		  			</ion-slide>
		  			<ion-slide>
		    			<ion-scroll direction="y" style="height: 85%">
		  				    <div style="background-color: #3bad09; height: 30%;">
    							<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    							<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoCalendar()"></button>
    							<h1 style="text-align: center; color: white;">Wednesday</h1>
    							<p style="color: white; text-align: center;">15 AUGUST</p>
    						</div>
		    			<div>
		    				
		    				<div class="item item-avatar">
		      					<!-- -->
		      					<img src="/img/schedule/m.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[2].Day31}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/p.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px">{{schedule[2].Day32}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/s.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[2].Day33}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/t.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[2].Day34}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/e.png" />
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[2].Day35}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
		    			</div>
		    			</ion-scroll>
		  			</ion-slide>

		  			<ion-slide>
		    			<ion-scroll direction="y" style="height: 85%">
		  				    <div style="background-color: #f37a18; height: 30%;">
    							<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    							<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoCalendar()"></button>
    							<h1 style="text-align: center; color: white;">Thursday</h1>
    							<p style="color: white; text-align: center;">15 AUGUST</p>
    						</div>
		    			<div>
		    				
		    				<div class="item item-avatar">
		      					<!-- -->
		      					<img src="/img/schedule/m.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[3].Day41}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/p.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px">{{schedule[3].Day42}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/s.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[3].Day43}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/t.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[3].Day44}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/e.png" />
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[3].Day45}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
		    			</div>
		    			</ion-scroll>
		  			</ion-slide>

		  			<ion-slide>
		    			<ion-scroll direction="y" style="height: 85%">
		  				    <div style="background-color: #2e6ede; height: 30%;">
    							<button class="button button-icon icon ion-arrow-left-c text-white" ng-click="home()"></button>
    							<button class="button button-icon icon ion-calendar icon-switch text-white" ng-click="switchtoCalendar()"></button>
    							<h1 style="text-align: center; color: white;">Friday</h1>
    							<p style="color: white; text-align: center;">15 AUGUST</p>
    						</div>
		    			<div>
		    				
		    				<div class="item item-avatar">
		      					<!-- -->
		      					<img src="/img/schedule/m.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[4].Day51}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/p.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px">{{schedule[4].Day52}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/s.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[4].Day53}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/t.png" />
		      					<p style="float:right;">09:00AM - 10:00AM</p>
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[4].Day54}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
							<div class="item item-avatar">	
		      					<!-- -->
		      					<img src="/img/schedule/e.png" />
		      					<h2 class="name-subject" style="font-size: 20px;">{{schedule[4].Day55}}</h2>
		      					<p>Back off, man. I'm a scientist.</p>
							</div>
		    			</div>
		    			</ion-scroll>
		  			</ion-slide>
				</ion-slide-box>

	    </div>


</ion-view>