<link href="css/schedule.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<ion-view view-title="schedule" hide-nav-bar="true">
  
    <!-- Header -->
    <div>
      <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="home()"></button>
        <h1 class="title">Calendar</h1>
      </div>
    </div>

  <ion-content class="has-header" scroll="false">
  <ion-scroll direction="xy" style="width: 100%; height: 100%">
      
      <div class="w3-row w3-container has-header">
        <a href="http://localhost:8100/#/app/schedule" ng-click="openCity($event, 'London')">
          <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding col-50 qwerty">Schedule</div>
        </a>
        <a href="http://localhost:8100/#/app/schedule" ng-click="openCity($event, 'Paris')">
          <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding col-50">Calendar</div>
        </a>
      </div>
      
      <div id="London" class="w3-container city">
          <div>
            <table>
              <tr>
                <th class="text-center"><img src="/img/schedule/clock.png" style="width: 40px;height:40px;"/></th>
                <th class="text-center">M</th>
                <th class="text-center">T</th>
                <th class="text-center">W</th>
                <th class="text-center">Th</th>
                <th class="text-center">F</th>
              </tr>
              <tr ng-repeat="schedule in schedule">
                <td class="text-center">8:30-9:20</td>
                <td class="text-center" ng-style={{schedule.Day1_1}} ng-click="test(schedule.Day1_1)">{{schedule.Day1}}</td> <!-- ng-class='{green : !schedule.Day1-1, red: schedule.Day1-1}'-->
                <td class="text-center" ng-style={{schedule.Day2_1}} ng-click="test(schedule.Day2_2)">{{schedule.Day2}}</td>
                <td class="text-center" ng-style={{schedule.Day4_1}}>{{schedule.Day3}}</td>
                <td class="text-center" ng-style={{schedule.Day3_1}}>{{schedule.Day4}}</td>
                <td class="text-center" ng-style={{schedule.Day5_1}}>{{schedule.Day5}}</td>
              </tr>
            </table>
          </div>    
      </div>


<div id="Paris" class="w3-container city">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p>
</div>
    </ion-scroll>
  </ion-content>
</ion-view>

