<ion-view view-title="main" class="loginBg" hide-nav-bar="true" >
	<!--
	<ion-header-bar class="bar-assertive" style="">
		<p class="grade-title">grade book</p>
	</ion-header-bar>
	-->
	<ion-content scroll="false">
		<div class="row gradeBg grade-header">
			<button class="button button-icon icon ion-home" ng-click="gotoMain()"></button>
			<button class="button button-icon icon ion-chevron-left" ng-click="previousSemester()"></button>
			<p class="grade-title">{{semester.title}}</p>
			<button class="button button-icon icon ion-chevron-right" ng-click="nextSemester()"></button>
		</div>

		<div>
			<div class="row">
				<div class="col col-60 grade-sub-title">Course Title</div>
				<div class="col col-20 grade-sub-title">Credit</div>
				<div class="col col-20 grade-sub-title">Grade</div>
			</div>
			<!-- repeat subject -->
			<div class="row" ng-repeat="subject in semester.subjects">
				<div class="col col-60 grade-font">{{subject.title}}</div>
				<div class="col col-20 grade-font font-center">{{subject.credit}}</div>
				<div class="col col-20 grade-font font-center">{{subject.grade}}</div>				
			</div>

			<!-- GPA GPS -->
			<div class="row">
				<div class="col col-25 col-offset-25 grade-sub-title">GPS</div>
				<div class="col col-25 grade-font">{{semester.GPS}}</div>
			</div>
			<div class="row">
				<div class="col col-25 col-offset-25 grade-sub-title">GPA</div>
				<div class="col col-25 grade-font">{{gpa}}</div>
			</div>
		</div>


	</ion-content>
</ion-view>

	
