<ion-view view-title="main" class="mainBg" hide-nav-bar="true" >
	<ion-content scroll="false">
		<div class="main-page">
			<div class="row">	
				<div class="col col-50" ng-click="gotoSubject()"><img src="img/main-book.png" class="main-img" width="60%" height="60%"><br/>
				<p class="main-font">Subject</p></div>
				<div class="col col-50"><img src="img/main-noti.png" class="main-img" width="60%" height="60%" ng-click="gotoNoti()"><br/>
				<p class="main-font">Notification</p></div>
			</div>
			<!--profile-->
			<div class="col col-offset-25 main-profile"><img src="img/default-avatar.png" width="50%" height="50%" ng-click="gotoProfile()"></div>

			<div class="row">	
				<div class="col col-50" ng-click="gotoGrade()"><img src="img/main-gradebook.png" class="main-img" width="50%" height="50%" ><br/>
				<p class="main-font">Gradebook</p></div>
				<div class="col col-50" ng-click=calendar()><img src="img/main-calendar.png" class="main-img" width="60%" height="60%"><br/>
				<p class="main-font" >Calendar</p></div>
			</div>
		</div>
	</ion-content>
</ion-view>