<ion-view view-title="notification">
	<ion-header-bar class="primary-color">
	  	<button class=" button-icon icon ion-arrow-left-c text-color" ng-click="gotoBack()"></button> <!--without class "button" -->
		<h1 class="title text-color">{{title}}</h1>
	</ion-header-bar>

	<ion-content scoll="true" class="primary-color" hide-nav-bar="true" class="statble">
		
		<div class="col col-90 col-offset-5 noti-item-color noti-item" ng-repeat="item in data" ng-click="openDetail(item)">
			<div class="row" >
				<div class="col col-20">
					<i class={{icon}} style="font-size: 300%"></i>
				</div> 
				<div class="col col-60">
					<div class="text-bold">
						{{item.title}}
					</div>	
					<div>
						 {{item.date}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>


	<script id="feedback.html" type="text/ng-template">

	  <div class="modal">

	    <!-- Modal header bar -->
	    <ion-header-bar class="bar-secondary bar-positive">
	      <h1 class="title">{{title}}</h1>
	      <button class="button button-clear " ng-click="closeDetail()">Cancel</button>
	    </ion-header-bar>

	    <!-- Modal content area -->
	    <ion-content>

	        <div class="list">
	          	<label class="item item-input">
	          		<span style="font-weight:bold">&nbsp;&nbsp;&nbsp;{{detail.title}}</span>
	          	</label>
	           	<label class="item item-input">
	           		<span style="font-weight:bold">Date : </span>&nbsp;{{detail.date}}
	          	</label>
        	   	<label class="item item-input">
  	    	   		<span style="font-weight:bold">Title : </span>&nbsp;{{detail.detail_title}}
	 	        </label>
  	 	        <label class="item-input" style="word-wrap: break-word">
	            	{{detail.detail}}
	          	</label>
	        </div>
	        <div class="padding">
	          <button class="button button-block button-positive" ng-click="closeDetail()">close</button>
	        </div>

	    </ion-content>

	  </div>

	</script>
</ion-view>