<ion-view view-title="notification">
	<ion-header-bar class="primary-color">
	  	<button class=" button-icon icon ion-arrow-left-c text-color" ng-click="gotoMain()"></button> <!--without class "button" -->
		<h1 class="title text-color">Notification</h1>
	</ion-header-bar>

	<ion-content scoll="true" class="primary-color" hide-nav-bar="true" class="statble">

        <div class="row">
          <button class=" col col-50 noti-block noti-color-1" ng-click="active(1)">
          	<img src="/img/noti-home.png" class="noti-img"></img><br>
            <span class="more-mini grade-sub-title">HomeWork</span>
          </button>
          <button class=" col col-50 noti-block noti-color-2" ng-click="active(2)">
          	<img src="/img/noti-news.png" class="noti-img"></img><br>
            <span class="more-mini grade-sub-title">News</span>
          </button>

        </div>

        <div class="row">
          <button class=" col col-50 noti-block noti-color-3" ng-click="active(3)">
            <img src="/img/noti-megaphone.png" class="noti-img"></img><br>
            <span class="more-mini grade-sub-title">Activities</span>
          </button>
          <button class=" col col-50 noti-block noti-color-4" ng-click="active(4)">
            <img src="/img/noti-clock.png" class="noti-img"></img><br>
            <p class="more-mini grade-sub-title">Messege</p>
          </button>

        </div>

	</ion-content>
</ion-view>