<link href="css/cssprofile.css" rel="stylesheet" type="text/css">

<ion-view view-title="profile" hide-nav-bar="true" >
	<ion-content scroll="true">

		<div class="head-picture">
			<button class=" button-icon icon ion-arrow-left-c" ng-click="home()"></button>
			<div>
				 <div class="box-circle">
				 	<img src="/img/profile/barak3.jpg" class="circle-user"/>
				 </div>
				 <div class="box-name">
				 	<h1 class="text-name">{{user.profile.name + " " + user.profile.lastname}}</h1>
				 </div>
			</div>
		</div>

		<div class="list">
		  <label class="item item-input item-stacked-label">
		  	<div class="icon-content">
		  		<img src="/img/profile/role.png" class="size-icon"/>
		  	</div>
		  	<div>
		    	<p class="content">{{user.profile.role}}</p>
		  	</div>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <div class="icon-content">
		    	<img src="/img/profile/student-code4.png" class="size-icon" />
		    </div>
		    <div>
		    	<p class="content">{{user.profile.student_code}}</p>
		  	</div>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <div class="icon-content">
		    	<img src="img/profile/sex.png" class="size-icon" />
		    </div>
		    <div>
		    	<p class="content">{{user.profile.sex}}</p>
		  	</div>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <div class="icon-content">
		    	<img src="img/profile/room.png" class="size-icon" />
		    </div>
		    <div>
		    	<p class="content">M.5/1</p>
		  	</div>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <div class="icon-content">
		    	<img src="img/profile/email.png" class="size-icon" />
		    </div>
		    <div>
		    	<p class="content">{{user.profile.e_mail}}</p>
		  	</div>
		  </label>

		  

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <div class="icon-content">
		    	<img src="img/profile/tel.png" class="size-icon" />
		    </div>
		    <div>
		    	<p class="content">{{user.profile.tel}}</p>
		  	</div>
		  </label>

		  
		</div>
		<button class="button" style="vertical-align:middle;margin-left: 20%" ng-click="doGreeting(greeting)"><span>More </span></button>
	</ion-content>
</ion-view>