<link href="css/cssprofile.css" rel="stylesheet" type="text/css">

<ion-view view-title="profile" hide-nav-bar="true" >
		<ion-content scroll="true">
		<div class="bar bar-header bar-positive">
			<button class="button button-icon icon ion-arrow-left-c" ng-click="home()"></button>
  			<h1 class="title">Profile</h1>
		</div>
	

		<div>
			<i style="float: center"><img src="img/circle-user.png" class="circle-user"/></i>
		</div>

	
		<div class="list">
		  <label class="item item-input item-stacked-label" >
		    <div>
		    	<span class="input-label">First Name</span>
		    </div>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.name}}</p> <!--{{user.profile.name}}-->
		  </label>
		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <span class="input-label">Last Name</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.lastname}}</p>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Role</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.role}}</p>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <span class="input-label">Student's ID</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.student_code}}</p>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sex</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.sex}}</p>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <span class="input-label">Room</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">M.5/1</p>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">E-mail</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.e_mail}}</p>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <span class="input-label">Date of Birth</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.date_of_birth}}</p>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Address</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.address}}</p>
		  </label>

		  <label class="item item-input item-stacked-label" id="colorgrey">
		    <span class="input-label">Tel</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.tel}}</p>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Blood Type</span>
		    <p style="padding-top:5px;padding-bottom: 5px;">{{user.profile.bloodType}}</p>
		  </label>
		</div>

	</ion-content>
</ion-view>