<ion-view view-title="subject" hide-nav-bar="true">
	<ion-header-bar class="primary-color">
	  	<button class=" button-icon icon ion-home text-color" ng-click="gotoMain()"></button> <!--without class "button" -->

		<h1 class="title text-color">SUBJECTS</h1>
	</ion-header-bar>
	<ion-content scoll="true">
		<!-- add content -->

		<!-- block subject -->
		<div ng-repeat="subject in subjects"> <!--class main-page -> padding-top="2%" -->
			<div>
				<div class="col col-80 col-offset-10 accent-color subject-block" ng-style="{{subject.style}}"> <!--{{subject.style}}-->
					<div class="subject-block-text text-bold">
						{{subject.title}}
					</div>	
					<div class="subject-block-text">
						{{subject.title}}
					</div>
				</div>
				<div class="col col-80 col-offset-10 bar-block" >
					<ion-icon class="button button-icon ion-speakerphone subject-block-button" ng-click="gotoNoti({{subject}})"></ion-icon>
					<ion-icon class="button button-icon ion-android-folder subject-block-button"></ion-icon>
					<ion-icon class="button button-icon ion-chatbox-working subject-block-button" ng-click="openFeedback()"></ion-icon>
				</div>	
			</div>	
		</div>
		<!-- block end -->

		<!-- block end -->						

	</ion-content>


	<!-- MODAL send feedback to instructor -->
	<script id="feedback.html" type="text/ng-template">

	  <div class="modal">

	    <!-- Modal header bar -->
	    <ion-header-bar class="bar-secondary">
	      <h1 class="title">Message To Instructor</h1>
	      <button class="button button-clear button-positive" ng-click="closeFeedback()">Cancel</button>
	    </ion-header-bar>

	    <!-- Modal content area -->
	    <ion-content>

	      <form ng-submit="createTask(task)">
	        <div class="list">
	          <label class="item item-input">
	            <input type="text" placeholder="Title" ng-model="task.title">
	          </label>
	           <label class="item item-input">
	            <textarea type="text" placeholder="Type here" ng-model="task.detail" cols="29" rows="5"></textarea>
	          </label>
	        </div>
	        <div class="padding">
	          <button type="submit" class="button button-block button-positive">Send</button>
	        </div>
	      </form>

	    </ion-content>

	  </div>

	</script>

</ion-view>