<!-- <div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/login"><i class="icon ion-unlocked"></i> Login</a>
    </div>
 </div> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<ion-view view-title="Sign In" class="mainBg" hide-nav-bar="true">
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->
<ion-content>
<div class="container" style="padding-left:40px;">
  <div class="row">
	  <div class="col-xs-12 text-center">
			<img style="width:55%; padding:70px 0 0 0; margin-bottom:30px;" src="img/educationIcon.png">
	  </div>
  </div>
  <div class="row text-center">
  	<input type="text" class="login-form form-control" ng-model="user.username" placeholder="USERNAME" style="padding-left: 12px; 
  background: none; color:white; border-bottom: 1px solid white;">
	</div>
	<div class="row">
		<input type="password" class="login-form form-control" ng-model="user.password" placeholder="PASSWORD" style="padding-left: 12px;
  background: none; color:white; border-bottom: 1px solid white;" >
	</div>
	<div class="row">
		<button class="mybtn col-xs-8 col-xs-offset-2" type="submit" ng-click="login(user);" >LOG IN</button>
	</div>
  <div class="row">
  	<div class="col-xs-12 text-center">
  		<br/>
  		<br/>
  		<p style="font-weight:bold; color:white;">OR</p>
  	</div>
  </div>
  <div class="row text-center">
  	<div class=" col-xs-6">
  		<img style="width:52%; "  ng-click="facebookSignIn()" src="img/facebook.png">
  	</div>
  	<div class="col-xs-6">
  		<img style="width:52%; " src="img/google.png">
  	</div>
  </div>
</div>
  </ion-content>
</ion-view>

<!--
<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/login"><i class="icon ion-unlocked"></i> Login</a>
    </div>
 </div>

<ion-view view-title="Sign In" class="mainBg" hide-nav-bar="true">

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
			<div class="app-logo"><img src="img/logo.png"></div>
			
			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" ng-model="user.username" placeholder="Email Address" > </label>
			  <label class="item item-input"><input type="password" ng-model="user.password" placeholder="Password" > </label>
			</div>

			<div class="loginButton"><button class="button ion-unlocked button-block primary-color button-accent-color" style="color:white" ng-click="login(user);" > Login </button>  </div>
	  </div>
  </div>

	<div class="row  padding removePM">
	  <div class="col"> <a class=" primary-color button-accent-color button button-block" style="color:white" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
	</div>

  </ion-content>
</ion-view>
-->