<ion-view view-title="detailcalendar" hide-nav-bar="true">
	<div style="width: 100%;height: 100%;">
		<ion-scroll direction="y" style="width: 100%; height: 100%;">
			<div>			
				<div class="item" ng-repeat="content in content[0].Day[datenumber].Activity">
						<!-- -->
						<p style="float:right;">{{content.Time}}</p>
						<h2 class="name-subject" style="font-size: 20px;">{{content.Acname}}</h2>
						<p>{{content.Detail}}</p>
				</div>
			</div>
		</ion-scroll>
	</div>
</ion-view>