<ion-view view-title="month" hide-nav-bar="true">

	<ion-scroll direction="y" style="width: 100%; height: 25%;">
  		<ul class="days">
  			<li ng-repeat="day in content[month].Day"><span ng-class="{'active' : selectedIndex == {{day.Date_number}}}" ng-click="itemClicked(day.Date_number)">{{day.Date_number}}</span></li>
		  <!--<li><span ng-class="{'active' : selectedIndex == 1}" ng-click="itemClicked(1)">1</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 2}" ng-click="itemClicked(2)">2</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 3}" ng-click="itemClicked(3)">3</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 4}" ng-click="itemClicked(4)">4</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 5}" ng-click="itemClicked(5)">5</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 6}" ng-click="itemClicked(6)">6</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 7}" ng-click="itemClicked(7)">7</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 8}" ng-click="itemClicked(8)">8</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 9}" ng-click="itemClicked(9)">9</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 10}" ng-click="itemClicked(10)">10</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 11}" ng-click="itemClicked(11)">11</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 12}" ng-click="itemClicked(12)">12</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 13}" ng-click="itemClicked(13)">13</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 14}" ng-click="itemClicked(14)">14</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 15}" ng-click="itemClicked(15)">15</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 16}" ng-click="itemClicked(16)">16</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 17}" ng-click="itemClicked(17)">17</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 18}" ng-click="itemClicked(18)">18</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 19}" ng-click="itemClicked(19)">19</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 20}" ng-click="itemClicked(20)">20</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 21}" ng-click="itemClicked(21)">21</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 22}" ng-click="itemClicked(22)">22</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 23}" ng-click="itemClicked(23)">23</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 24}" ng-click="itemClicked(24)">24</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 25}" ng-click="itemClicked(25)">25</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 26}" ng-click="itemClicked(26)">26</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 27}" ng-click="itemClicked(27)">27</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 28}" ng-click="itemClicked(28)">28</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 29}" ng-click="itemClicked(29)">29</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 30}" ng-click="itemClicked(30)">30</span></li>
		  <li><span ng-class="{'active' : selectedIndex == 31}" ng-click="itemClicked(31)">31</span></li>-->
		</ul>
	
		
			
		</ion-scroll>

		<ion-nav-view name="detailCalendar" scroll="true"></ion-nav-view>
	
</ion-view>