.circle-user {
	width: 18%;
	height: 18%;
	margin-left: 40%;
	margin-top: 10%;
	margin-bottom: 3%;
}

.bar-profile {
	height: 15%;
}

.content-profile {
	color: black;
	font-size: 20px;
}

#paddingtop{
	padding-top: 20%;
}

#text-profile {
	font-size: 60px;
	margin-left: 15%;
	margin-top: 50px;
	padding-bottom: 60px;
}

#colorgrey{
	background-color: #F5FFFA;
}