@font-face {
    font-family: myFirstFont;
    src: url(/css/THSarabunNew/THSarabunNew.ttf);
}

.head-picture {
	background-image: url("/img/profile/bluehead1.png");
	height: 200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.circle-user {
	border: 2px inset #BDBDBD;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	margin-left: 20px;
	margin-top: 60px;
}

.box-circle {
	position: fixed;
	float: left;
	width: 60px;
	height: 60px;
}

.text-name {
	color: white;
	font-family: myFirstFont;
	font-style: normal;
	font-size: 40px;
}

.box-name {
	position: fixed;
	float: center;
	margin-top: 70px;
	margin-left: 90px;
	width: 300px;
	height: 300px;
}

.content {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
}

.icon-content {
	padding-top: 10px;
	position: fixed;
	float: left;
}

.size-icon {
	width: 30px;
	height: 30px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #146bc1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}