/* Empty. Add your own CSS if you like */
/*theme*/
/*kai*/
.form-control::-webkit-input-placeholder {
  color: white; 
}
.form-control:-moz-placeholder { 
  color: white; 
}
.form-control::-moz-placeholder { 
  color: white; 
}
.form-control:-ms-input-placeholder {
 color: white; 
}
.login-form{
  padding-left: 12px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: none;
  color:white;
  border: 2px solid white;
}
.mybtn{
  background-color:#66CCFF;
  border: 2px solid #66CCFF;
  margin-top: 25px;
  padding: 7px 0px;
  font-weight: bold;
  color: white;
}
/*kai*/


.dark-primary-color{
  background-color: #303F9F;
}
.primary-color{
  background-color: #3F51B5;
}
.light-primary-color{
  background-color: #C5CAE9;
}
.text-color{
  color:#FFFFFF;
}
.accent-color{
  background-color: #03A9F4;
}
.primary-text{
  color:#212121;
}
.secondary-text{
  color:#757575;
}
.divider-color{
  background-color: #BDBDBD;
}
.bar-block{
  background-color: #EEEEEE;
}


/* text general*/
.text-bold{
  font-weight: bold;
  font-size: 110%;
}





/*log in*/
.app-logo{ 
	max-width:130px; 
	margin:auto; 
	background-repeat:no-repeat;
	background-position:center;
}
.button-accent-color{
  border-color: blue;
}
.button-accent-color{
  border-color: blue;
}
.mainBg{
  background-image: url("../img/main-background.png");
}
.loginBg{
  background: #303F9F;
  background: rgba(48,63,159,0.9);
}
.loginBg{
	background: #303F9F;
}

/*Notification*/                                              /*Notification*/
.noti-color-1{
  background-color: rgba(57,168,240,1);
}
.noti-color-2{
  background-color: rgba(50,152,216,1);
}
.noti-color-3{
  background-color: rgba(28,129,197,1);
}
.noti-color-4{
  background-color: rgba(39,140,208,1);
}
.noti-block{
  /*background-color: #16A085;*/
  padding-top: 15%;
  padding-bottom: 15%; 
  border-radius: 7px;
}
.noti-icon{
  line-height: 25px;
  min-height: 200px;
}
.noti-img{
  width: 50%;
  height: 50%;
}
.noti-item{ 
  margin-top: 5%;
  padding:10px 10px;
  border-radius: 10px;
}
.noti-item-color{
  background-color: rgb(192,192,192);
}
.noti-detail{
  word-wrap: break-word;
  
}





/*main page*/                                                      /*main page*/
.main-page{
  padding-top: 2%;
}
.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.main-font{
  color:white;
  text-align: center;
}*/
.main-profile{

}
/*.main-font{
  color:white;
  text-align: center;
}*/
.main-profile{

}


/*gradebook*/                                                      /*gradebook*/
.gradeBg{
  background: #1ABC9C;
}
.grade-header{
  margin-top: 5%;

}
.grade-title{
  color: white;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.grade-sub-title{
  color: white;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
.grade-font{
  color: white;
}
.font-center{
  text-align: center;
}


/* subjects */                                                          /* subjects */                                                                                                 
.subject-block{
  margin-top: 5%;
  padding:20px 10px;

}
.subject-sub-block{
  height: 20px;
}
.subject-block-text{
  color:#FFFFFF;
}
.subject-block-button{
  padding-left: 18%;
  line-height: 25px;
  min-height: 30px;
}





/*main page*/                                                      /*main page*/
.main-page{
  padding-top: 2%;
}
.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.main-font{
  color:white;
  text-align: center;
}*/
.main-profile{

}
.main-font{
  text-align: center;
  /*color: white;*/
  font-size: 125%;
  font-weight: bold;
}



/*gradebook*/                                                      /*gradebook*/
.gradeBg{
  background: #1ABC9C;
}
.grade-header{
  margin-top: 5%;

}
.grade-title{
  color: white;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.grade-sub-title{
  color: white;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
.grade-font{
  color: white;
}
.font-center{
  text-align: center;
}


/* subjects */                                                          /* subjects */                                                                                                 
.subject-block{
  margin-top: 5%;
  padding:20px 10px;

}
.subject-sub-block{
  height: 20px;
}
.subject-block-text{
  color:#FFFFFF;
}
.subject-block-button{
  padding-left: 18%;
  line-height: 25px;
  min-height: 30px;
}





/*choose child*/
.chooseChild{
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	height: 60%;
}
.chooseChild1{
	background-color: #1ABC9C;
	border-color: #34495E;
	border-width: 5px;
}
.chooseChild2{
	background-color: #16A085;
}
.chooseChild-font,.status-font{
	text-align: center;
	color: white;
	font-size: 125%;
	font-weight: bold;
}
.status{
	margin-top: 20%;
	background-color: red; /*debug*/
	width: 100%;
	height: 50%;
	padding-top: 10%;
}
.status-font{
	padding-top: 10%;
}


/*loading css*/
.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  zoom: 1.7; }

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px; }

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%, 90% {
    stroke: #ffa700; } }

@keyframes color {
  100%, 0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%, 90% {
    stroke: #ffa700; } }

/*background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(45%, rgba(32,124,229,1)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=1 );
*/